body{
    background-color: paleturquoise;
}

h1{
    background-color: peachpuff;
    color: darkblue;
}

#p2{
    background-color: hotpink;
}

td, th, table{
    border: 2px solid ;
    border-collapse: collapse;
    border-style: dotted;
}

div{
    background-color: yellow;
}

#s1{
    background-color: rgb(227, 196, 255);
}

#s2{
    background-color: rgb(142, 143, 174);
}

