body{
    background-color: paleturquoise;
}

h1{
    background-color: peachpuff;
    color: darkblue;
}

#p2{
    background-color: hotpink;
}

td, th, table{
    border: 2px solid ;
    border-collapse: collapse;
    border-style: dotted;
}

