*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    align-items: center;
    width: 45%;
}

.img-off#image{
    height: 50vh;
    width: 50%;
    margin: 10px 10px;
}

.img-on#image{
    height: 52vh;
    width: 40%;
    margin: 10px 10px;
}

.btn{
    width: 80px;
    height: 30px;
    margin: 30px 10px;
    border-radius: 7px;
}

.scale{
    transition: transform 0.2s; /* Add a smooth transition effect */
    transform: scale(1.1); /* Scale the element by 1.1x */
}



